.home_banner_area {
  background: url(../../assets/img/banner/banner-bg.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 790px;
}
@media (max-width: 767px) {
  .home_banner_area {
    background-position: initial;
  }
}
.home_banner_area .banner_inner {
  position: relative;
  width: 100%;
  min-height: 790px;
}
.home_banner_area .banner_inner .banner_content .sub {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}
.home_banner_area .banner_inner .banner_content h3 {
  font-size: 52px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 15px;
  color: #ffffff;
}
.home_banner_area .banner_inner .banner_content h3 span {
  color: #71cd14;
}
.home_banner_area .banner_inner .banner_content h4 {
  font-size: 18px;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0px;
}
.home_banner_area .banner_inner .banner_content .white_bg_btn {
  margin-top: 45px;
  line-height: 50px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.home_banner_area .banner_inner .banner_content .halemet_img {
  text-align: right;
}
